<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Kenobi couldn't find you!</h1>
    <p>
      Kenobi couldn't find the username you entered, sorry! You entered: <%= @user.name %>.
    </p>
    <p>
      If that was an error, please of course feel free to head back and enter a different username instead at: http://kenobi.herokuapp.com
    </p>
    <p>Thanks for playing along! I hope you enjoy playing with Kenobi as much as I enjoyed creating it.</p>
  </body>
</html>