<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Kenobi!</h1>
    <p>
      Kenobi has analyzed all of your past Ask Metafilter answers, in order to determine what sorts of questions you're best at answering! From now on, you can get quick results without having to wait for Kenobi to learn all about you all over again.<br/>
    </p>
    <p>
      To have Kenobi classify the latest Ask Metafilter questions for you, just follow this link: <%= @url %>
    </p>
    <p>Thanks for playing along! I hope you enjoy playing with Kenobi as much as I enjoyed creating it.</p>
  </body>
</html>