<div class="flash_success">
	<h3>These are the Ask Metafilter questions Kenobi picked out for you to answer 
		last time. To have Kenobi classify the most recent AskMeFi questions for you, 
		just fill out the form again <%= link_to "here", root_path %>.</h3>
</div>
<br>
<%= render 'shared/results' %>